.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .p-inputtext {
  width: 20rem !important;
}

:host ::ng-deep .p-dropdown {
  width: 20rem !important;
}

.botao-grid {
  &:hover {
    cursor: pointer;
  }

  background-color: transparent;
  border: 0;
}
