<div *ngIf="estaLogado; else login">

  <p-toast position="top-center"></p-toast>

  <mat-toolbar color="primary">
    <button mat-icon-button class="botao-menu" (click)="menu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Corona Peak</span>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #menu [mode]="!mobile ? 'side' : 'over'" [opened]="!mobile" class="mat-elevation-z8">
      <div class="menu">

        <button mat-raised-button class="menu-button" matRipple routerLink="/" (click)="menu.close()">
          <mat-icon>home
          </mat-icon>
          <span>Inicio</span>
        </button>

        <mat-divider></mat-divider>

        <div *ngIf="tipoAdministrador">
          <button mat-raised-button class="menu-button" matRipple routerLink="cadastro/">
            <mat-icon>add_box
            </mat-icon>
            <span>Cadastro</span>
          </button>

          <mat-divider></mat-divider>
        </div>

        <div *ngIf="!respondeuQuestionario">
          <button mat-raised-button class="menu-button" matRipple routerLink="cadastro/paciente">
            <mat-icon>add_box
            </mat-icon>
            <span>Questionario paciente</span>
          </button>

          <mat-divider></mat-divider>
        </div>

        <p-divider align="center" class="col-12" [styleClass]="'divi'">

          <i class="pi pi-user"></i>

        </p-divider>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" matRipple routerLink="minha-conta/informacoes" (click)="menu.close()">
          <mat-icon>account_circle</mat-icon>
          <span>Detalhes da conta</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" matRipple (click)="deslogar()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>

        <mat-divider></mat-divider>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="bg-gray-100">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<ng-template #login>
  <router-outlet></router-outlet>
</ng-template>
