<div class="container w-full h-full">

  <p-toast position="top-center"></p-toast>

  <mat-toolbar color="primary">
    <span>Corona Peak</span>
  </mat-toolbar>

  <div class="container-login">
    <div class="modal-login col-11 sm:col-4 h-30rem border-round shadow-5">

      <p class="titulo">Entrar</p>

      <p-divider align="center" class="col-12 mb-5 mt-5">
        <i class="pi pi-user"></i>
      </p-divider>

      <form [formGroup]="form" (submit)="realizarLogin()">
        <span class="p-float-label mb-5">
          <input formControlName="email" id="float-input input-email" type="text" pInputText pKeyFilter="email"
            maxlength="40">
          <label for="float-input">E-mail</label>
        </span>
        <span class="p-float-label mb-3">
          <p-password formControlName="senha" [toggleMask]="true" [feedback]="false">
          </p-password>
          <label for="float-input">Senha</label>
        </span>
        <div class="botoes">
          <button [disabled]="!form.valid" pButton pRipple type="submit" label="Entrar"
            class="p-button-raised col-5 mr-3">
          </button>
          <button pButton pRipple type=" button" label="Registrar" class="p-button-raised p-button-secondary col-6"
            routerLink="/autenticacao/registro"></button>
        </div>
      </form>
    </div>
  </div>
</div>
