.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.relatorio-container {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
