<div class="container">

  <h1>Cadastro</h1>

  <button pButton pRipple routerLink="/cadastro/cidade" label="Cidade" class="p-button-raised mb-1 mr-4">
  </button>

  <button pButton pRipple routerLink="/cadastro/empresa" label="Empresa" class="p-button-raised mb-1 mr-4">
  </button>

  <button pButton pRipple routerLink="/cadastro/sintoma" label="Sintoma" class="p-button-raised mb-1 mr-4">
  </button>

  <button pButton pRipple routerLink="/cadastro/paciente" label="Paciente" class="p-button-raised mb-1 mr-4">
  </button>

</div>
